<div class="row">
  <div class="col-sm-6">
    
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" [mapTypeControl] = "true">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-polygon [editable] = "true" [polyDraggable]="true" [paths] = "paths" (pathChanged)="onPathChanged($event)"></agm-polygon>
    </agm-map>

    <input type="button" value="Poligono" />
  </div>
  <div class="col-sm-6">
    
    <label>Nombre</label>
    <input type="text" class="form-control">
    
    <label>Descripcion</label>
    <textarea class="form-control" rows="3"></textarea>
    
    <hr/>
    
    <input type="submit" value="Guardar" class="btn btn-primary">
  </div>
</div>